
.header {
    margin: 1%;
    border-bottom: 0.5px #adacac solid;
    
}

.header .btns{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin: auto;
    margin-left: 80%;
    padding: 1%;
    
}





.dash{
    
    float: right;
    border-left: 1px solid #ccc;
    width: 15%;
    height: 500px;  
    margin-top: 2%;
    font-size: 22px;
    font-weight: 800;
    
    

}

.dash .part1, .container1{
    display: flex;
    justify-content: space-between;
}

.part2 .driver{
    padding: 2%;

}
.dash .part2 .driver{
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 6px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

.dash .part2 .driver:hover{
    background-color: #ddd;
}

.dash .part2 .active{
    background-color: #ccc;
}

.page{
    float: left;
    padding: 0px 12px;
    width: 80%;
    border-right: none;
    height: 500px;
    position: absolute;
    display: block;
}
.activate{
    display: block;
}

.logo img{
    width :80px;
    height:80px;
    border-radius: 54%;
    margin-top: -25%;
}


.logout-btn{
    margin-right: 4px;
}

.onglet a{
    padding: 4%;
}

.onglet a:hover{
    color:#04AA6D; /* Green */
    font-size: 28px;
    background-color:#f1f1f1 ; 
    
}

@media (max-width : 600px   ) {
    
    .dash{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: left;
        width: 100%;
        height: 100px;
        margin: auto;
        margin-bottom: 24%;
        margin-top: 16%;
        padding: 5%;
        font-size: 17px;
        
    }
    
    .onglet{
        color: #343a40;
        width: 88%;
        margin: 2%;
        border-bottom: 0.5px  #adacac solid;
        border-width: 50%;
        border-left:none;
       
    }

}


