body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: linear-gradient(
    to right,
    #000529 1%,
    #002055 24%,
    #005db5 67%,
    #0074d9 100%
); */
font-family: "Noto Sans", sans-serif;
}
li,a,button{
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:space-between;/* ;indique la façon dont l'espace doit être réparti entre et autour des éléments selon l'axe principal d'un conteneur flexible ou selon l'axe en ligne lorsque le conteneur est une grille.*/
    align-self: auto;
    align-items: center;
    position: fixed;
    /* width: 80%; */
    top: 0%;
    left: 0%;
    z-index: 1;
    font-weight: 800;
    padding-left: 10%;
    margin-right: 10px;
    
    
    
}
.links  {
    border-bottom:2px solid rgb(255, 255, 255);
    /* background-color: red; */
    align-items: center;
    /* padding-left: 10px;
    padding-right: 10px; */
    

}

.links li{
    display: inline-block;
    padding: 0 15px;
    font-weight: bold;
    
    
}
.links li a:hover{
    /*Gérer la taille du width lors du survol avec less*/
    background-color: rgba(220, 228, 228, 0.815);
    /* border-bottom: 4px solid; */
    /* border-radius: 5px; */
    
}
.icons{
    margin-left: 50px;
    
    /* background-color: red; */
}
.icons a{
    margin-left: 10px;
}
.btnh{
    border: none;
    border-radius: 50px;
    background-color:rgba(31, 31, 196, 0.918) ;
    width: 160px;
    height: 40px;
    padding-left: 10px;
    margin-left: 50px;
    font-weight: bold;
    
}
.spot{
    position: relative;
    width: 100%;
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}


.spot div{ 
    width: 700px;
    font-weight: bold;
}
.spot p{
    /* background-color: red; */
    
    font-size: 27px;
    color: #fff;
}
.spot h1{
    font-size: 40px;
    color: #1c3bc4e0;
    
}
.btn1 {
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #d87710;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}
.btn2 {
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #fff;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-left: 10px;
}
.btn1:hover{
    letter-spacing: 4px;
}
.btn2:hover{
    letter-spacing: 4px;
}
.presentation{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.lpresentation{
    width: 200px;
    height: 200px;
}
.presentation p{
    width: 800px;
    text-align: center;
    font-size: 27px;
    color: rgb(25, 67, 206); 
}
.domainactions{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 250px;
}
.domainactions div{
    height: 150px;
}
.environment{
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #238310;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}
.domainaction{
    font-size: 1em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #d87710;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}

#domains{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}
.the_programs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.programs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-color: #12089c; */
}
.program{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height:300px;
    border-radius: 25px;
    border: 1px solid rgba(21, 118, 148, 0.74);
    box-shadow: 3px 3px rgba(21, 118, 148, 0.74), -1em 0 .4em rgb(184, 184, 173);
    /* text-align: center; */
}
.the_size{
    width: 96px;
    height: 96px;
    align-items: center;
    align-content: center;
}
.btnv {
    font-size: 0.5em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #12089c;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}
.btnv:hover{
    letter-spacing: 4px;
}
.p_title{
    width: 252px;
    height: 36px;
    text-align: center;
}
.the_events{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #12089c;
    
}
.events{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 375px;
    border-radius: 50px;
    background-color: red;
    
}
.event-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 300px;
    height: 280px;
    background-color: #238310;
}
.si img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.si{
    width: 250px;
    height: 150px;
}
.btnd1 {
    font-size: 0.50em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #ff1e00a4;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}
.btnd2 {
    font-size: 0.50em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #ffe600;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}
.btnd3 {
    font-size: 0.50em;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
    background: #02570ec5;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    border-radius: 50px;
    margin-right: 10px;
}

.the_telltales{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    /* background-color: #12089c; */
    
}
.telltales{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;    
}

.telltale{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
}
.the_partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    /* background-color: #12089c; */
    
}
.partners{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 50px;
    
    
}
.partner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
}
.part{
    width: 250px;
    height: 150px;
}
.part img{
    width: 200px;
    height:200px;
    border-radius: 150px;
    border: 0.5px solid #12089c;
    box-shadow: 3px 3px rgba(21, 118, 148, 0.74), -1em 0 .4em rgb(184, 184, 173);

}


.letter_container{
    
    background-color: rgb(246, 247, 252);
    background: linear-gradient(
    to right,
    #000213 1%,
    #042355 24%,
    #054c8db0 67%,
    #0074d9 100%
);
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
    /* flex-wrap: wrap; */
    
}
.newsletter-container{
    background-color: rgb(40, 72, 214);
    /* background: linear-gradient(
    to right,
    #000529 1%,
    #002055 24%,
    #005db5 67%,
    #0074d9 100%
); */

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 370px;
    border-radius: 30px;
    box-shadow: rgba(178, 228, 0, 0.596) 0px 50px 100px -20px, rgba(192, 191, 191, 0.904) 0px 30px 60px -30px, rgba(23, 78, 133, 0.822) 0px -2px 6px 0px inset;   

    
    
    /* flex-wrap: wrap; */
    
}
.picture{
    width: 600px;
    height: 500px;
    background: url(../media/LOGO_PNG_TIDD-removebg-preview.png) no-repeat center;
    background-size: cover;
    border-radius: 15%;
    margin-top: 110px;
    margin: left 100px; ;
    /* background: linear-gradient(
    to right,
    #000529 1%,
    #002055 24%,
    #005db5 67%,
    #0074d9 100%
); */
/* background-color: rgb(200, 255, 0); */
    
}
.newsletter{
    width: 50%;
    padding: 50px 8%;
    
    border-radius: 10px;
}
.newsletter h1{
    margin-bottom: 20px;
    color: #2c3a47;
    font-weight: 900;
}
.newsletter p{
    margin-bottom: 40px;
    font-size: 14px;
    color: #777;
}
.newsletter-form{
    height: 68px;
    background-color: #2c3a47;
    border-radius: 3px;
    display: flex;
    padding: 8px 0;
    border-radius: 10px;

}
.emailInput, .btn{
    background: none;
    border: none;
    font-size: 15px;
    outline: none;
    transition: .2s linear ;
}
.emailInput{
    width: calc(100% - 100px);
    padding: 20px;
    color: #f1f1f1;


}
.emailInput::placeholder{
    color:#f1f1f1
}
.emailInput:focus{
    padding-left: 30px;
}
.btn{
    width: 120px;
    text-transform: uppercase;
    color: #f1f1f1bb;
    cursor: pointer;
    border-left: 1px solid #777;
}
.btn:hover{
    color: #f1f1f1;
}
footer{
    background:#f4f4f4;
    height:90px;
    color:#04519b;
    font-weight: bold;
    text-align: center;
    padding-top:40px;
    margin-top:30px;
    border-top:7px solid #04519b;
    border-top-left-radius:50px ;
    border-top-right-radius:50px ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
/* @media screen  and (max-width:900px){
    .picture{
        width: 100%;
        padding: 100px 20%;
    }
}
@media screen and (max-width:600px) {
    .newsletter{
        padding: 100px 30px;
    }
    
} */



html {
    scroll-behavior: smooth;
}
.to-top {
    width:50px;
    height:50px;
    text-decoration:none;
    margin-bottom:10px;
    background:#94db01;
    color:#7b46a0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    position: fixed;
    bottom: 0px;
    right:30px;
    opacity:0;
    transition: all .6s;
}

.to-top.active {
    bottom:0px;
    opacity:1;
}