:root {
    --teal: #20c997; --cyan: #09c2de; --white: #fff; --gray: #6c757d; --gray-dark: #343a40; --primary: #2263b3; --secondary: #364a63; --success: #1ee0ac; --info: #09c2de; --warning: #f4bd0e; --danger: #e85347; --dark: #1c2b46; --gray: #8091a7; --light: #e5e9f2; --lighter: #f5f6fa; --breakpoint-xs: 0; --breakpoint-sm: 576px; --breakpoint-md: 768px; --breakpoint-lg: 992px; --breakpoint-xl: 1200px; --breakpoint-xxl: 1540px; --font-family-sans-serif: (Roboto, sans-serif), "Helvetica Neue", Arial, "Noto Sans", sans-serif; --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

*, *::before, *::after { 
   box-sizing: border-box; 
}

html { 
   font-family: sans-serif; 
   line-height: 1.15; 
   -webkit-text-size-adjust: 100%; 
   
}

a {
    text-decoration: none;
    color:black;

}
body { 
   
    font-family: Roboto, sans-serif, "Helvetica Neue", Arial, "Noto Sans", sans-serif; 
    font-size: 20px; 
    font-weight: 400;    
    background-color: #f5f6fa;
    
}

.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    overflow: hidden;
}
.params{
    align-self: flex-end;
}

#alldelete{
    color: #e85347;
    position: fixed;
    margin-left: 5%;
    margin-top: 1%;
}

#message{
    
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 50%;   
    font-weight: bold;
    background-color: #20c997;
    opacity: 0.5;
    color: black;
    

}

.message{
    position: fixed;
    margin: auto;
    align-self: auto;
    text-align: center;
    width: 100%;
}

.logout-btn a:hover{
    color: #f44336; /* Green */    
    
}

.form{
    display: none;
    position: fixed;
    z-index: 1;
    width: 40%;
    top:0;

    margin: auto;
    margin-top: 10%;
    align-self: center;
    

    margin-left: 25%;
    overflow: auto;
    background-color: #f1f1f1;
    border-radius: 3px;
    padding-top: 1%;



}

form{
    margin: 2%;
    width: 90%;
    font-size: 20px;


    
}

.form{
    animation-name: zoom;
    animation-duration: 0.6s;
    
}

.close{
    position: absolute;
    right: 25px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
@keyframes zoom {
    from{transform: scale(0)}
    to{transform: scale(1)}
}
input, select{
    width: 80%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    outline: none;
    background: white;
    font-size: 20px;
    margin: 1%;
}


input[type=button]{
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    
    display: inline-block;
    font-size: 22px;
    font-weight: 800;
    
    border-radius: 3px;
}

.deletebtn a{
    color: #f44336; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
}

.updatebtn a{
    color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
}

.readbtn a{
    color: #4e4caf; 
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 800;
}


table{
    font-size: 14px;
    width: 100%;
    margin: auto;
    align-self: center;
    text-align: center;
    overflow: auto;
}
th{
    font-size: 20px;
    font-weight: 800;   
    border-right: 1px solid #ccc; 
    
}

table #btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

table  #t-check{
    display: none;
}

tfoot #navs{
    display: flex;
    justify-content: space-between;
}

table #userupdate , #trashupdate{
    color: #4CAF50;
}

table #userdelete , #trashdelete{
    color: #e85347;
}

thead{
    background-color:#20c997;
    
}
td, th{
    padding: 15px;
       
}


tr:nth-child(even){
    background-color: #f1f1f1;
    
    
}

tr:hover{
    cursor: pointer;
    background-color: #8091a7;
}